{{>partials/header}}
{{#Felipe.showName}} <p>oi</p> {{/Felipe.showName}}
  {{Felipe.name}}

  Sou velho?
  {{#oldAge}} Sim sou {{/oldAge}}
  <hr/>
<h2>Produtos:</h2>
<ul>
{{#products}}
 {{>partials/productItem}}
{{/products}}
</ul>
<hr/>

  <hr/>
<h2>Produtos Mais Caros:</h2>
<ul>
{{#expensive}}
 {{>partials/productItem}}
{{/expensive}}
</ul>
<hr/>

  <p>Em Cartaz: {{user.title}}</p>
  {{user.title}}
  <img src={{user.src}} />
{{>partials/footer}}