{{>partials/header}}

<h2>Qual seu nome?</h2>
{{#name}}<h3>Olá, {{name}}</h3>{{/name}}

<form method="GET" action="">
  <input type="text" name="name" placeholder="Qual seu nome?"/><br/>
  <input type="submit" value="Enviar"/><br/>
</form>




{{>partials/footer}}